@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 139 46% 99%;
    --foreground: 139 52% 4%;
    --muted: 259 7% 93%;
    --muted-foreground: 259 14% 35%;
    --popover: 139 46% 99%;
    --popover-foreground: 139 52% 4%;
    --card: 139 46% 99%;
    --card-foreground: 139 52% 4%;
    --border: 139 10% 93%;
    --input: 139 10% 93%;
    --primary: 139 12% 32%;
    --primary-foreground: 139 12% 92%;
    --secondary: 259 12% 32%;
    --secondary-foreground: 259 12% 92%;
    --accent: 19 12% 32%;
    --accent-foreground: 19 12% 92%;
    --destructive: 8 85% 43%;
    --destructive-foreground: 0 0% 100%;
    --ring: 139 12% 32%;
    --radius: 0.5rem;
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 25.9%;
    --ring: 142.4 71.8% 29.2%;
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }
  p {
    @apply text-pretty;
  }
}
